$color--gray-light: #E7E7E7;
$color--gray: #2E3639;
$color--gray-dark: #1E2629;

$color--yellow: #FAB23A;

$color--red: #FD2928;

$color--brown: #C3A26F;

$color--pink: #E2BFB9;

$color--purple: #B51659;

$font--fancy: 'Merriweather', serif;

$font--normal: 'Sintony', sans-serif;

$width--tablet-min: 550px;
