<div class="site-resume--sidebar">
  <img src="images/avatar-round.png" alt="Garrett Vorbeck" />
  <h2>Garrett Vorbeck</h2>
  <p><a href="mailto:me@iamgarrett.com">me@iamgarrett.com</a></p>
</div>
<div class="site-resume--content">
  {% for r in resume %}
    <h3>{{r.title | capitalize}}</h3>

    {# SKILLS #}
    {% if r.skills %}
      <ul>
        {% for s in r.skills %}
          <li>{{s.i | safe}}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {# WORK HISTORY #}
    {% for w in r.work %}
      <dl>
        <dt>Employer:</dt> <dd>{{w.employer}}</dd>
        <dt>Title:</dt> <dd>{{w.title}}</dd>
        <dt>Duration: </dt><dd>{{w.duration}}</dd>
        <dt>Location: </dt><dd>{{w.location}}</dd>
        <dt>Description: </dt><dd>{{w.description}}</dd>
      </dl>
    {% endfor %}

    {# EDUCATION #}
    {% for e in r.education %}
      <dl>
        <dt>School: </dt><dd>{{e.school}}</dd>
        <dt>Received: </dt><dd>{{e.receipt}}</dd>
        <dt>Graduated: </dt><dd>{{e.graduation}}</dd>
      </dl>
    {% endfor %}
  {% endfor %}
</div>
<!-- <section>
  {% if resume %}
    <div class="sidebar">
      <h2>Garrett Vorbeck</h2>
    </div>
    <div class="resume-content">
      <h2>Résumé</h2>
  {% endif %}
  {% for r in resume %}
      <h3>{{r.title | capitalize}}</h3>
      {% if r.skills %}
        <ul>
          {% for s in r.skills %}
            <li>{{s.i | safe}}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    {% if r.work %}
      <dl>
        {% for w in r.work %}
          <dt>Employer: </dt><dd>{{w.employer}}</dd>
          <dt>Duration: </dt><dd>{{w.duration}}</dd>
          <dt>Location: </dt><dd>{{w.location}}</dd>
          <dt>Description: </dt><dd>{{w.description}}</dd>
        {% endfor %}
      </dl>
    {% endif %}

    {% if r.education %}
      <dl>
        {% for e in r.education %}
          <dt>School: </dt><dd>{{e.school}}</dd>
          <dt>Received: </dt><dd>{{e.receipt}}</dd>
          <dt>Graduated: </dt><dd>{{e.graduation}}</dd>
        {% endfor %}
      </dl>
    {% endif %}
  {% endfor %}
</section> -->
