{% import '../macros/sidebar.html' as sidebar %}
<h2>Résumé</h2>

{{sidebar.layout('resume', 'avatar-round.png','Garrett Vorbeck', 'mailto:me@iamgarrett.com', 'me@iamgarrett.com', "I'm a front-end developer based in NYC for the past 10 years. I love to eat pizza and listen to punk rock. I play in a skeeball league and have competed in the national championships with my team, Skeez Louise. My favorite color is brown. I enjoy drawing people and reading science fiction.")}}

<div class="site-resume--content content-block--body">
  {% for r in resume %}
    <h4>{{r.title | capitalize}}</h4>

    {# SKILLS #}
    {% if r.skills %}
      <ul class="site-resume--skills">
        {% for s in r.skills %}
          <li>{{s.i | safe}}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {# WORK HISTORY #}
    {% for w in r.work %}
      <dl class="site-resume--work">
        <dt>Employer:</dt> <dd>{{w.employer}}</dd>
        <dt>Title:</dt> <dd>{{w.title}}</dd>
        <dt>Duration: </dt><dd>{{w.duration}}</dd>
        <dt>Location: </dt><dd>{{w.location}}</dd>
        <dt class="site-resume--work-description">Description: </dt><dd>{{w.description}}</dd>
      </dl>
    {% endfor %}

    {# EDUCATION #}
    {% for e in r.education %}
      <dl class="site-resume--education">
        <dt>School: </dt><dd>{{e.school}}</dd>
        <dt>Received: </dt><dd>{{e.receipt}}</dd>
        <dt>Graduated: </dt><dd>{{e.graduation}}</dd>
      </dl>
    {% endfor %}
  {% endfor %}
</div>
