{% import '../macros/sidebar.html' as sidebar %}
<h2>Sites</h2>

{{sidebar.layout('sites', '', 'Freelance', '', '', "Sometimes I develop projects outside of an official employer; either for myself or for a friend in need. Here are some projects I have worked on in the past.")}}

<div class="site-sites--content content-block--body">
  {% for s in sites %}
    <article>
      <a class="site-sites--header pure" href="http://{{s.href}}" title="{{s.title}}" target="_blank">
        <h1>{{s.title}}</h1>
        <img src="images/sites-{{s.img}}" alt="{{s.title}}" />
      </a>
      <p>{{s.description}}</p>
    </article>
  {% endfor %}
</div>
