<section id="{{ include.id }}" class="content-wrapper">
    <h1 class="content-wrapper__title">{{ include.title }}</h1>
    <div class="content-wrapper__container">
        <div class="content-wrapper__sidebar">
            <img class="content-wrapper__image" src="/assets/{{ include.image }}" alt="{{ include.subtitle }}">
            <h2 class="content-wrapper__subtitle">{{ include.subtitle }}</h2>
            <p class="content-wrapper__subtext">{{ include.subtext }}</p>
        </div>
        <div class="content-wrapper__content"></div>
    </div>
</section>