<ul class="portfolio__inner">
    {% for site in page.portfolio-items %}
        <li class="portfolio__item">
            <article class="portfolio-site">
                <header class="portfolio-site__header">
                    <h1 class="portfolio-site__title">{{ site.title }}</h1>
                </header>
                <a class="portfolio-site__link" href="{{ site.url }}" target="_blank">
                    <div class="browser-head">
                        <div class="browser-head__dots"></div>
                        <div class="browser-head__url"></div>
                    </div>
                    <img class="portfolio-site__image" src="assets/{{ site.image }}" alt="{{ site.title }}">
                </a>
                <p class="portfolio-site__description">{{ site.description }}</p>
            </article>
        </li>
    {% endfor %}
</ul>