$color--gray-light: #E7E7E7;

$color--gray: #2E3639;


/* MAIN COLORS */

$color--brown: #C3A26F;

$color--pink: #E2BFB9;

$color--purple: #B51659;

$color--red: #FD2928;

$color--yellow: #FAB23A;

/* add new colors to this variable. */

$color-list: $color--brown, $color--pink, $color--purple, $color--red, $color--yellow;