.content-wrapper {
    $space: 1rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2.5em repeat(2, auto);
    border-bottom: .5em solid $color--yellow;

    &__title,
    &__sidebar,
    &__content {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    &__title {
        height: 1.25em;
        padding: 0 $space;
    }

    &__sidebar {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        grid-column-gap: $space;
        grid-row-gap: $space;
        align-items: center;
        padding: $space;
        overflow: scroll;

        // Sidebar background colors
        @for $i from 1 to length($color-list)+1 {
            .content-wrapper:nth-child(5n + #{$i}) & {
                background-color: nth($color-list, $i);
                color: set-dynamic-text-color(nth($color-list, $i));
            }
        }

        @include media(ml) {
            grid-column-start: 1;
            grid-column-end: 2;
            display: flow-root;

            .content-wrapper:nth-child(even) & {
                grid-column-start: 4;
                grid-column-end: 5;
            }
        }
    }

    &__image {
        grid-column-start: 1;
        grid-column-end: 2;
        width: 100%;
        border-radius: 50%;
        background-color: $color--purple;
        box-shadow: $shadow-2;
        padding: .25em;
        box-sizing: border-box;

        .content-wrapper:nth-child(2) & {
            background-color: $color--yellow;
        }

        .content-wrapper:nth-child(3) & {
            background-color: $color--brown;
        }
    }

    &__subtitle {
        grid-column-start: 2;
        grid-column-end: 5;
    }

    &__subtext {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    &__content {
        background-color: #FFFFFF;
        padding-bottom: 1rem;

        @include media(ml) {
            grid-column-start: 2;
            grid-column-end: 5;

            .content-wrapper:nth-child(even) & {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 2;
            }
        }
    }

    & + & {
        margin-top: 2em;
    }
}