$font--body: 'Sintony', sans-serif;
$font--title: 'Merriweather', serif;

html {font-size: 1em;}

body {
  background-color: white;
  font-family: $font--body;
  font-weight: 400;
  line-height: 1.45;
  color: #333333;
}

p + p {margin-top: 1.3em;}

h1, h2, h3, h4 {
  font-family: $font--title;
  font-weight: 700;
  line-height: 1.25;
}

h1 {
  margin-top: 0;
  font-size: 2em;
}

h2 {
    font-size: 1.625em;
    line-height: 1.153;
}

h3 {
    font-size: 1.375em;
    line-height: 1.1363;
}

strong {
    font-weight: 700;
}