.page__header {
    background: $color--gray;
    color: #FFFFFF;
    box-shadow: $shadow-2;
}

.site-header {
    text-align: center;

    &__title {
        font-size: 3.5em;
        z-index: 0;
        position: relative;
        padding-top: 1.75rem;

        &:before {
            @include pseudo;
            width: 7rem;
            height: 7rem;
            background-color: $color--yellow;
            border-radius: 50%;
            z-index: -1;
            left: calc( 50% - ( 7rem / 2 ) );
            top: .75rem;
        }
    }
}

.site-navigation__inner,
.external-navigation__inner {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.site-navigation {
    margin-top: 2.5em;

    &__item {


        & + & {
            margin-left: 1em;
            padding-left: 1em;
            border-left: .0625em solid #FFFFFF;
        }
    }

    &__link {
        color: #FFFFFF;
    }
}

.external-navigation {

    &__item {
        width: 20%;

        @for $i from 1 to 6 {
            &:nth-child(5n + #{$i}) {
                background-color: nth($color-list, $i);
            }
        }
    }

    &__link {
        display: block;
        padding: .5em;
        height: 100%;
        box-sizing: border-box;

        svg {
            width: 100%;
            height: 100%;
            fill: #FFFFFF;
        }
    }
}