.page__header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto) 4rem;
    grid-row-gap: 1rem;
    justify-items: center;
    background-color: $color--gray;
    color: #FFFFFF;
    margin-bottom: 2rem;
    box-shadow: $shadow-2;
    z-index: 1;

    a {
        color: #FFFFFF;
    }
}

.site-header {

    &__title,
    &__navigation {
        grid-column-start: 1;
        grid-column-end: 7;
    }

    &__title {
        z-index: 0;
        position: relative;
        font-size: 3.5em;
        margin-top: 1.5rem;

        &:before {
            @include pseudo;
            width: 7rem;
            height: 7rem;
            background-color: $color--yellow;
            border-radius: 50%;
            z-index: -1;
            left: calc( 50% - ( 7rem / 2 ) );
            top: -14px;
        }
    }
}

.site-navigation,
.external-navigation {

    &__inner {
        display: flex;
        height: 100%;
    }
}

.site-navigation {
    grid-row-start: 2;
    margin-top: 1.5rem;

    &__item + &__item {
        margin-left: 1rem;
        padding-left: 1rem;
        border-left: .0625rem solid #FFFFFF;
    }
}

.external-navigation {
    grid-row-start: 3;

    &__item {
        width: 20%;

        @for $i from 1 to 6 {
            &:nth-child(5n + #{$i}) {
                background-color: nth($color-list, $i);
            }
        }
    }

    &__link {
        height: 100%;
        padding: .5rem;
        display: block;
        box-sizing: border-box;

        &:hover {
            border: none;
        }

        svg {
            width: 100%;
            height: 100%;
            fill: #FFFFFF;
        }
    }
}

@include media(m) {

    .page__header {
        grid-template-rows: repeat(2, auto);
    }

    .site-navigation,
    .external-navigation {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .site-navigation {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .external-navigation {
        grid-column-start: 4;
        grid-column-end: 7;
    }
}

@include media(ml) {

    .site-navigation {
        margin-top: 0;
        align-self: center;
    }

    .site-header__title::before {
        box-shadow: $shadow-2;
    }
}

@include media(l) {

    .page__header {
        grid-template-rows: minmax(1rem, 4.6875rem);
        position: fixed;
    }

    .site-header {

        &__title,
        &__navigation {
            grid-row-start: 1;
        }

        &__title {
            grid-column-start: 1;
            grid-column-end: 3;
            margin-top: 0;
            align-self: center;
        }
    }

    .site-navigation {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .external-navigation {
        grid-column-start: 5;
        grid-column-end: 7;
    }
}