.resume-section {

    & + & {
        margin-top: 1em;
    }

    &__header {
        @extend %content-header;
    }
}

.skills-list {
    list-style-type: disc;
    list-style-position: inside;
    padding: 0 .5em;

    &__item + &__item{
        margin-top: .5em;
    }
}

.work-history-list,
.education-list {
    border-top: .25em solid $color--red;

    &__item {
        display: flex;
        padding: .25em .5em;
        justify-content: space-between;

        &:nth-child(odd) {
            background-color: $color--gray-light;
        }

        &:last-child {

            dt {
                display: none;
            }

            dd {
                text-align: left;
            }
        }

        & + & {
            margin-top: .5em;
        }
    }

    &__term {
        text-transform: capitalize;

        &:after {
            content: ":";
            margin-right: 1em;
        }
    }

    &__detail {
        text-align: right;
    }

    & + & {
        margin-top: 1em;
    }
}

.education-list:last-child dt {
    display: block;
}