footer {
  background-color: $color--gray-dark;
  overflow: hidden;
  color: white;
  padding: rem(20) rem(10);

  p {
    color: $color--gray-light;
    font-size: em(12);
    padding: 0 rem(10);
    margin: 0;
  }

  p + p {
    margin: em(16) 0 0;
  }


  .site-navigation {

    @include media--desktop {
      display: none;
    }

    ul {
      flex-wrap: wrap;
      margin-bottom: rem(20);
    }

    a {

      &:hover {
        border-bottom-color: white;
      }
    }

    svg {
      display: none;
    }

    &--external li {
      border: none;
    }
  }
}
