footer {
  background-color: $color--gray-dark;
  overflow: hidden;
  color: white;
  padding: rem(20) rem(10);

  p {
    color: $color--gray-light;
    font-size: em(12);
    padding: 0 rem(10);
  }

  .site-navigation {

    &--internal {
      margin-bottom: rem(15);
    }

    &--external {

      li {
        margin-top: rem(5);
      }

      svg {
        display: none;
      }
    }
  }
}
