* {
  font-family: $font--normal;
}

a {
  color: $color--red;
  text-decoration: none;

  &:hover {
    border-bottom: rem(1) dashed $color--red;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $font--fancy;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

main {
  background-color: $color--gray-light;
  overflow: hidden;
  padding: rem(20) rem(10);
}

.content-block {
  background-color: white;
  padding: rem(10);
  margin: rem(40) 0 0;
  border-bottom: rem(10) solid $color--yellow;

  &:first-child {
    margin-top: 0;
  }
}

h2 {
  color: $color--gray-dark;
  margin-bottom: rem(20);
  font-size: em(35);
  border-bottom: rem(2) solid $color--gray-dark;
}

h3 {
  margin: rem(20) 0 0;
}

section {

  ul {
    list-style: disc;
    list-style-position: inside;
  }

  li {
    margin: rem(10) 0;
  }
}

.site-resume {
  padding: 0;
  overflow: hidden;
  position: relative;

  &--sidebar {
    float: left;
    background: $color--brown;
    width: rem(200);
    height: 100%;
    padding: rem(10);
    box-sizing: border-box;
    text-align: center;
    font-size: em(12);
    position: absolute;

    img {
      width: 100%;
      border-radius: 50%;
      margin-top: rem(2);
    }

    h2 {
      color: white;
      border-bottom: none;
      font-size: em(29.87);
      margin: 0;
    }

    p {
      margin: 0;
    }

    a {
      color: white;
    }
  }

  &--content {
    overflow: hidden;
    padding: rem(10) rem(10) rem(10) rem(210);

    h3 {
      margin-bottom: rem(10);
      background: $color--yellow;
      padding: rem(5) rem(5) rem(3);

      &:first-child {
        margin-top: 0;
      }
    }

    ul {
      list-style: disc;
    }

    li {
      list-style-position: inside;
      margin: rem(10) 0;
    }

    dl + dl {
      border-top: rem(1) solid $color--gray-dark;
      margin-top: rem(10);
      padding-top: rem(10);
    }

    dd {
      font-weight: bold;

      &:last-child {
        font-weight: normal;
      }
    }
  }
}
