header {
  background-color: $color--gray;
  color: white;

  @include media--desktop {
    min-height: rem($desktop-header);
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
  }

  h1 {
    margin: 0;
    text-align: center;
    position: relative;
    z-index: 1;
    font-family: $font--fancy;
    font-size: em(50);
    font-weight: bold;
  }

  .site-navigation {

    @include media--tablet {
      display: flex;
      align-items: flex-start;
    }

    a:hover {
      border-bottom-color: white;
    }

    ul {

      @include media--tablet {
        flex-basis: 50%;
      }
    }

    &--internal {
      padding: rem(20) rem(10);

      @include media--tablet {
        padding: 0 rem(20) 0 rem(10);
        align-self: center;
      }
    }

    &--external {
      height: rem(50);

      @include media--desktop {
        height: rem($desktop-header);
      }

      li {
        border: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
        width: 100%;

        &:nth-child(5n+1) {
          background-color: $color--brown;
        }

        &:nth-child(5n+2) {
          background-color: $color--pink;
        }

        &:nth-child(5n+3) {
          background-color: $color--purple;
        }

        &:nth-child(5n+4) {
          background-color: $color--red;
        }

        &:nth-child(5n+5) {
          background-color: $color--yellow;
        }
      }

      a {
        display: block;
        height: 100%;
        padding: rem(5);
        box-sizing: border-box;

        &:hover {
          border: none;
        }
      }

      span {
        display: none;
      }

      svg {
        fill: white;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.site-logo {
  position: relative;

  @include media--desktop {
    float: left;
    margin: 0 rem(25) 0 rem(10);
  }

  &--dot {
    background-color: $color--yellow;
    width: rem(80);
    height: rem(80);
    position: absolute;
    top: rem(-5);
    left: 50%;
    border-radius: 50%;
    margin-left: rem(-60);

    @include media--tablet {
      box-shadow: rem(5) rem(5) rgba(12, 12, 12, .25);
    }
  }
}
