---
---

@import "meyer-reset";
@import "colors";
@import "mixins-functions";
@import "fonts";

$media__small: 320px;
$media__medium: 768px;
$media__large: 1024px;

$shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

a {
    text-decoration: none;
    color: $color--red;

    &:hover {
        border-bottom: 1px dashed;
    }
}

.page {
    background-color: $color--gray-light;

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 62.5rem;
        margin: 0 auto;

        * + * {
            margin-top: 1rem;
        }
    }
}

@import "extends";
@import "header";
@import "content-wrapper";
@import "resume";
@import "portfolio";

.about {
    padding: 1rem;
}

@import "footer";

