---
layout: default
---

<section class="page__content">
    {% include content-wrapper.html id="iamg-resume" title="Résumé" image="avatar-cutout.png" subtitle="Just Garrett" subtext="I'm a front-end developer based in NYC for the past 10+ years. I love to draw, eat pizza, and listen to punk music. I have smiled at every dog I have ever seen. My favorite color is brown. I have been to all 50 states." %}

    {% include content-wrapper.html id="iamg-portfolio" title="Portfolio" image="analytics.png" subtitle="You Gotta Brag" subtext="Here is a selection of some of the latest projects I have worked on" %}

    {% include content-wrapper.html id="iamg-about" title="About" image="settings.png" subtitle="The Right Tools" subtext="Making sure each project is built using the best tools for the job is essential. Work smart, not hard!" %}
</section>
